ha-card {
    background: var(--ha-card-background,var(--card-background-color,#fff));
    box-shadow: var(--ha-card-box-shadow,none);
    box-sizing: border-box;
    border-radius: var(--ha-card-border-radius,12px);
    border-width: var(--ha-card-border-width,1px);
    border-style: solid;
    border-color: var(--ha-card-border-color,var(--divider-color,#e0e0e0));
    color: var(--primary-text-color);
    display: block;
    transition: all 0.3s ease-out 0s;
    position: relative;
}